.DS_Store
.venv
wandb
*.pyc
materials-scaling-venv
*.png
.env
*.pt
*.pth
saved_models/
*.pkl
perplexity/wikitext-103-raw-v1*
perplexity/wikitext-2-raw-v1*
local/
bpe_tokenizer/
wikitext_combined.txt
*.npz
*.aselmdb
*.aselmdb-lock
omat24/results
*atom_info.csv
*-checkpoint.ipynb
context.txt