torch==2.4.0
datasets==2.21.0
transformers==4.44.2
wandb==0.17.9
matplotlib==3.9.2
black==22.3.0
tqdm==4.66.5
x-transformers==1.37.10
fairchem-core==1.2.0
numpy==1.26.4
torch_geometric==2.6.1
gdown==5.2.0
pyvista==0.44.1
scikit_learn==1.5.2
plotly==5.24.1
notebook==7.2.2
ipywidgets==8.1.5
# pip install torch-scatter -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
tensorboard==2.18.0
dash==2.18.2
dash-bootstrap-components==1.7.1
imageio==2.37.0
pytest==8.3.4
torch-cluster==1.6.3